{% extends 'crud/base.html' %}
{% load widget_tweaks %}
{% block title %}Category{% endblock %}
{% load humanize %}
{% block content %}
<ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>
<!-- Button trigger modal -->
<div class="row">
  <div class="col-md-12">
    <form action="" method="POST">
      {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>
    </form>
  </div>
</div>

<!-- Modal -->


      </div>

{% endblock content%}